<nav class="teal lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">¯\_(ツ)_/¯</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="https://lapprand.com/">Survey</a></li>
      <li><a href="https://lapprand.com/">Resume</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="https://lapprand.com/">Survey</a></li>
      <li><a href="https://lapprand.com/">Resume</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>